@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
*, *::before, *::after {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #FFFF00; /* Dark background color */
    color: #ffffff; /* Light text color */
    font-family: "Poppins", sans-serif;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: yellow;
}
.app_container {
    width: 1226px; /* Match the image width */
    margin: 0 auto; /* Center container on the page */
    text-align: center; /* Center content inside */
}

.buttons {
    display: flex;
    justify-content: center; /* Center buttons under image */
    gap: 100px; /* Add spacing between buttons */
    margin-top: 50px; /* Optional: Add space above buttons */
}
.prev, .next{
    width: 200px;
    height: 100px;
    font-size: 2em;
    border: none;
    border-radius: 20px;
    background-color: rgb(96,147,163);
}
.prev:hover, .next:hover{
   background-color: blue;
   color: white;
}
.info{
    font-size: 2em;
    font-weight: bold;
}
